<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus State Readiness Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
	<h1>Coronavirus State Readiness Report</h1>
	<p>This report will provide a general guidance on the readiness for Connecticut to re-open.</p>
	<p>Today's Date: <b th:text="${dateToday}">00/00/0000</b></p>
	
    <table class="table">
	    <tr>
            <th>Continuous Days Of Hospitalization Decline</th>  <!-- should be declining -->
            <th>Continuous Days Of Maintaining Social Distancing Below Baseline</th>   <!-- should be increasing -->
            <th>Current % Positives Over All Tests Decline</th>  <!-- should be declining -->
            <th>Ready to Reopen?</th>
        </tr>
        <tr>
	        <td th:text="${daysHospitalizedDeclining}">0</td>
	        <td th:text="${daysKeepingSocialDistancing}">0</td>
	        <td th:text="${daysPositivesDeclining}">0</td>
	        <td th:text="${Recommendation}">Not sure</td>
        </tr>
    </table>
</div>

</body>
</html>